@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #1a1b1f;
}

html, body {
    background-color: #eeeff1;
}

/* 
**************************
******* HEADER ***********
************************** */

header {
    position: sticky;
    top: 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    /* border: 1px solid black; */
}

header > div {
    /* border: 1px solid black; */
    display:flex;
    flex-direction: row;
    align-items: center;
}

header > div > i {
    font-size: 1.7rem;
    padding-right: 1rem;
    /* border: 1px solid black; */

}

header > div > span {
    font-weight: 500;
    /* border: 1px solid black; */
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

header ul li {
    margin: 1rem;
}

header ul li a,
header ul li a:visited {
    font-weight: 500;
    padding: 1rem 1rem;
    text-decoration: none;
    border-radius: 0.5rem; 
}

header ul li a:hover,
header ul li a:active {
    background-color: #1a1b1f;
    color: #fff;
    transition: all 0.3s linear;
} 

/* 
**************************
******* SOBRE MIM ********
************************** */

.sobre-mim {
    padding: 1rem 2rem 2rem 2rem;
    /* background-color: lightyellow; */
    display:flex;
    flex-direction: row;
    justify-content:left;
}

.sobre-mim img {
    width: 20rem;
    height: auto;
}

.apresentacao {
    width: 60%;
    align-self:center;
    padding-left: 2rem;
    
    
}
.sobre-mim h2 {
    font-size: 2rem;
    padding-bottom: 2rem;
}

.sobre-mim p {
    font-size: 1.1rem;
}

/* 
**************************
******* HABILIDADES ********
************************** */

.habilidades {
    padding: 3rem 2rem 4rem 2rem;
    /* background-color: lightpink; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.habilidades-descricao {
    width: 70%;
}

.habilidades-descricao > h2 {
    font-size: 2rem;
    padding-bottom: 1.3rem;
}

.habilidades-lista > ul {
    width: 60%;
    list-style: none;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3rem;
    padding-left: 7rem;
    

}

.habilidades-lista > ul > li {
    margin:0.5rem;
}

.habilidades-lista span {
    border: 1px solid #1a1b1f;
    opacity: 0.7;
    border-radius: 0.5rem;
    padding: 0.1rem 0.7rem;
    font-size: 0.9rem;

}



/* 
**************************
******* EXPERIENCIAS ********
************************** */

.experiencias {
    /* background-color: lightblue; */
    padding: 3rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.experiencias ul {
    list-style: none;
}


.experiencias ul:last-child {
    align-self: flex-end;
}



.experiencias-lista {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-content:center;
    width:45%;
}

.periodo, .funcao {
    padding: 0.1rem 0.5rem;
    font-size: 0.8rem;
    opacity: 0.7;
}

.empresa a,
.empresa a:visited  {
    border: 1px solid #1a1b1f;
    border-radius: 0.5rem;
    padding: 0.1rem 0.7rem;
    font-size: 0.9rem;
    text-decoration: none;
    opacity: 0.7;
}

.empresa a:hover,
.empresa a:active {
    background-color: #1a1b1f;
    color: #fff;
    transition: all 0.2s linear;
    opacity: 1;
}



.experiencias-descricao {
    width: 55%;
    padding-left: 2rem;
}

.experiencias-descricao h2 {
    font-size: 2rem;
    padding-bottom: 1.3rem;
}


/* 
**************************
******* EXPERIENCIAS ********
************************** */























.formacao {
    height: 500px;
    background-color: lightcoral;
}

.contato {
    height: 500px;
    background-color: lightskyblue;
}

footer {
    height: 200px;
    background-color: greenyellow;
}




