@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #1a1b1f;
}

html, body {
    background-color: #eeeff1;
    scroll-behavior: smooth;
}

/* 
**************************
******* HEADER ***********
************************** */

header {
    position: sticky;
    top: 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1;
    /* border: 1px solid black; */
    background-color: rgba(238, 239, 241, 0.95);
}

header > div {
    /* border: 1px solid black; */
    display:flex;
    flex-direction: row;
    align-items: center;
}

header > div > i {
    font-size: 1.7rem;
    padding-right: 1rem;
    /* border: 1px solid black; */

}

header > div > i:hover {
    animation: spin 0.4s;
}

header > div > span {
    font-weight: 500;
    /* border: 1px solid black; */
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

header ul li {
    margin: 1rem;
}

header ul li a,
header ul li a:visited {
    font-weight: 500;
    padding: 1rem 1rem;
    text-decoration: none;
    border-radius: 0.5rem; 
}

header ul li a:hover,
header ul li a:active {
    background-color: #1a1b1f;
    color: #fff;
    transition: all 0.3s linear;
} 

/* 
**************************
******* SOBRE MIM ********
************************** */

.sobre-mim {
    padding: 2.5rem 2rem 2rem 2rem;
    /* background-color: lightyellow; */
    display:flex;
    flex-direction: row;
    justify-content:left;
}

.sobre-mim img {
    width: 20rem;
    height: auto;
}

.sobre-mim img:hover {
    animation: pulse 0.2s;
}

.apresentacao {
    width: 60%;
    align-self:center;
    padding-left: 2rem;
    
    
}
.sobre-mim h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
}

.sobre-mim p {
    font-size: 1.1rem;
}

/* 
**************************
******* HABILIDADES ********
************************** */

.habilidades {
    padding: 3rem 2rem 4rem 2rem;
    /* background-color: lightpink; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.habilidades-descricao {
    width: 70%;
}

.habilidades-descricao > h2 {
    font-size: 3rem;
    padding-bottom: 1.3rem;
}

.habilidades-lista > ul {
    width: 60%;
    list-style: none;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5rem;
    padding-left: 7rem;
    

}

.habilidades-lista > ul > li {
    margin:0.5rem;
}

.habilidades-lista span {
    border: 1px solid #1a1b1f;
    opacity: 0.7;
    border-radius: 0.5rem;
    padding: 0.1rem 0.7rem;
    font-size: 0.9rem;

}



/* 
**************************
******* EXPERIENCIAS ********
************************** */

.experiencias {
    /* background-color: lightblue; */
    padding: 4.5rem 2rem 3rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.experiencias ul {
    list-style: none;
}


.experiencias ul:last-child {
    align-self: flex-end;
}



.experiencias-lista {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-content:center;
    width:45%;
}

.periodo, .funcao {
    padding: 0.1rem 0.5rem;
    font-size: 0.8rem;
    opacity: 0.7;
}

.empresa a,
.empresa a:visited  {
    border: 1px solid #1a1b1f;
    border-radius: 0.5rem;
    padding: 0.1rem 0.7rem;
    font-size: 0.9rem;
    text-decoration: none;
    opacity: 0.7;
}

.empresa a:hover,
.empresa a:active {
    background-color: #1a1b1f;
    color: #fff;
    transition: all 0.2s linear;
    opacity: 1;
}



.experiencias-descricao {
    width: 60%;
    padding-left: 2rem;
}

.experiencias-descricao h2 {
    font-size: 3rem;
    padding-bottom: 1.3rem;
}


/* 
**************************
******* FORMACAO ********
************************** */


.formacao {
    /* background-color: lightcoral; */
    padding: 4.5rem 2rem 3rem 2rem;
     
}

.formacao > h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
}

/* table, th, td {
    border: none;
} */

table {
    width: 90%;
    margin: auto;
}


table > thead > tr > th {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

table > tbody> tr > td {
    font-size: 0.9rem;
    text-align: center;
    opacity: 0.7;
}

/* 
**************************
******* CONTATO ********
************************** */

.contato {
    padding: 6rem 2rem 3rem 2rem;
    border: 1px solid #1a1b1f;
    border-radius: 0.5rem;
    width: auto;
    margin: 7rem 2rem;
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    max-height: 80vh;
}

.contato> h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
    width: 50%;
}

form label {
    font-size: 0.8rem;
    color:#1a1b1f;
    opacity: 0.8;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

form ::placeholder {
    color:#1a1b1f;
    opacity: 0.5;
    font-size: 0.9rem;
    padding-left: 0.5rem;
}

input:focus {
    outline: none;
    /* border: solid 1px #1a1b1f; */
    
}

input[type=email]:focus {
    outline: none;
    /* border: solid 1px #1a1b1f; */
}


.informacoes-de-contato {
    display: flex;
    flex-direction: row;
    justify-content:stretch;
    align-items: stretch;
    padding-bottom: 2rem;
}

.informacoes-de-contato > div {
    display: flex;
    flex-direction: column;
}

.informacoes-de-contato  input {
    padding: 1rem 0.5rem;
    border: 0px #1a1b1f solid;
    border-radius: 0.5rem;

}

.informacoes-de-contato > div:first-child {
    width: 50%;
    margin-right: 3rem;
}

.informacoes-de-contato > div:last-child {
    width: 50%;
}

.informacoes-de-contato  input:first-child {
    flex-grow: 2;
    margin-right: 0.3rem;
    border: 0px #1a1b1f solid;
}

.informacoes-de-contato > input:last-child {
    flex-grow: 1;
    border: 0px #1a1b1f solid;
} 

.mensagem-de-contato {
    padding-top: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mensagem-de-contato > input {
    margin-bottom: 0.3rem;
    border: 0px #1a1b1f solid;
    padding: 1rem;
    border-radius: 0.5rem;
}

.mensagem-de-contato > textarea {
    height: 12rem;
    border: 0px #1a1b1f solid;
    border-radius: 0.5rem;
    resize: none;
}

.mensagem-de-contato > textarea:focus {
    outline: none;
}

button {
    box-sizing: border-box;
    width: 20%;
    margin: 2rem auto;
    border-radius: 0.5rem;
    padding: 1rem 0.5rem;
    background-color: #1a1b1f;
    color: #fff;
    border: none;
}

button > i {
    background-color: #1a1b1f;
    color: #fff;
}

button:hover, button:hover > i {
    background-color: #1a1b1f;
    color: #fff;
    transition: all 0.1s linear;
    opacity: 0.8;
}




/* 
**************************
******* FOOTER ********
************************** */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 2rem;
}

.credits span:first-child {
    font-size: 0.8rem;
    opacity: 0.8;
    padding-right: 0.5rem;
}

.credits span:last-child {
    font-weight: 600;
    color: #4285F4;
    
}
/* .credits span:last-child:hover {
    animation: spin 5s;
} */

a {
    text-decoration: none;
}



a > i{
    font-size: 2rem;
    padding: 0.5rem;
}

i:hover {
    animation: pulse 0.5s;
}

.email > i{
    color: #DB4437;
}

.whatsapp > i{
    color: #25D366
}

.linkedin > i{
    color: #0072b1
}

.github > i{
    color: #1a1b1f
}




/* ANIMACOES */
@keyframes pulse {
    0% {
        transform: scale(.50);
    }
    25% {
        transform: scale(.60);

    }
    50% {
        transform: scale(.75);

    }
    75% {
        transform: scale(.90);

    }

    80% {
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(#1a1b1f, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(#1a1b1f, 0);
    }
}

@keyframes spin {
    0% {
        transform:rotate(36deg);
    }
    10% {
        transform:rotate(72deg);

    }
    20% {
        transform:rotate(108deg);

    }
    30% {
        transform:rotate(144deg);
    }
    40% {
        transform:rotate(180deg);
    }
    50% {
        transform:rotate(216deg);
    }
    60% {
        transform:rotate(252deg);
    }
    70% {
        transform:rotate(288deg);

    }
    80% {
        transform:rotate(324deg);

    }
    90% {
        transform:rotate(360deg);
        transform: scale(4) ;
    }
}









/* aparelho celular */
@media screen and (min-width:320px) and (max-width:459px) {
    
    
    header {
        position:unset;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem 2rem;
        /* background-color: lightblue; */
        background-color: rgba(238, 239, 241, 0.95);
    }
    
    header > div {
        justify-content: center;
        padding-bottom: 1rem;
    }
    
    header > div > i {
        font-size: 1.7rem;
        padding-right: 1rem;
    
    }
    
    header ul {
        justify-content:space-around;
    }
    
    header ul li {
        margin: 0.2rem;
    }
    
    header ul li a,
    header ul li a:visited {
        font-weight: 500;
        padding: 0;
        text-decoration: none;
        border-radius: 0.5rem; 
    }
    
    header ul li a:hover,
    header ul li a:active {
        background-color: none;
        color: none;
        transition: none;
    } 

        /* 
    **************************
    ******* SOBRE MIM ********
    ************************** */

    .sobre-mim {
        padding: 2.5rem 1rem 2rem 1rem;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }

    .apresentacao {
        width: 100%;
        padding-left: 1rem;
        
        
    }
    .sobre-mim h2 {
        font-size: 1.3rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    .sobre-mim p {
        font-size: 1rem;
    }

        /* 
    **************************
    ******* HABILIDADES ********
    ************************** */

    .habilidades {
        padding: 3rem 1rem 4rem 1rem;
        flex-direction: column;
        justify-content: space-between;
    }

    .habilidades-descricao {
        width: 100%;
    }

    .habilidades-descricao > h2 {
        font-size: 1.3rem;
        text-align: center;
        padding-bottom: 1rem;
    }

    .habilidades-lista > ul {
        width: 90%;
        flex-direction: row;
        padding-top: 2rem;
        padding-left: 1rem;
    }

        /* 
    **************************
    ******* EXPERIENCIAS ********
    ************************** */

    .experiencias {
        padding: 4.5rem 1rem 3rem 1rem;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .experiencias-descricao {
        width: 100%;
        padding-left: 1rem;
        padding-bottom: 2rem;
    }

    .experiencias-descricao h2 {
        font-size: 1.3rem;
        padding-bottom: 1.3rem;
    }

    .experiencias-lista {
        flex-direction: column;
        width:90%;
        justify-content: space-around;
    }

    .experiencias-lista ul {
        padding-top: 1rem;
    }

    .periodo, .funcao {
        padding: 0.1rem 0.5rem;
        font-size: 0.8rem;
        opacity: 0.7;
    }

    .empresa a:hover,
    .empresa a:active {
        background-color: none;
        color: none;
        transition: none;
        opacity: 0.7;
    }

    /* 
    **************************
    ******* FORMACAO ********
    ************************** */


    .formacao {
        display: none;
    }


        /* 
    **************************
    ******* CONTATO ********
    ************************** */

    .contato {
        /* padding: 2rem 1rem 3rem 1rem;
        width: 90%;
        margin: 2rem 2rem;
        flex-direction: column;
        justify-content:center; */
        padding: 2rem 1rem 1rem 1rem;
        width: auto;
        margin: 2rem 1rem;
        display:flex;
        flex-direction: column;
        justify-content:start;
        max-height: unset;
    }

    .contato> h2 {
        font-size: 1.2rem;
        width: 100%;
        padding-bottom: 1rem;
    }

    form label {
        font-size: 0.7rem;
    }

    form {
        width: 100%;
    }

    form ::placeholder {
        font-size: 0.7rem;
        padding-left: 0.5rem;
    }



    .informacoes-de-contato {
        display: flex;
        flex-direction: column;
        justify-content:stretch;
        align-items: stretch;
        padding-bottom: 2rem;
    }

    .informacoes-de-contato > div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .informacoes-de-contato  input {
        padding: 0.5rem 0.5rem;
        border: 0px #1a1b1f solid;
        border-radius: 0.5rem;

    }

    .informacoes-de-contato > div:first-child {
        width: 100%;
        margin-right: 2rem;
        margin-bottom: 1rem;
    }

    .informacoes-de-contato > div:last-child {
        width: 100%;
        margin-right: 2rem;
    }

    .mensagem-de-contato {
        padding-top: 0.3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .mensagem-de-contato > input {
        margin-bottom: 0.3rem;
        padding: 0.4rem;
    }

    .mensagem-de-contato > textarea {
        height: 10rem;
        resize:vertical;
    }

    .mensagem-de-contato > textarea:focus {
        outline: none;
    }

    button {
        box-sizing: border-box;
        width: 100%;
        margin: 1rem auto;
        padding: 0.5rem;
    }

    button > i {
        background-color: #1a1b1f;
        color: #fff;
    }

    button:hover, button:hover > i {
        background-color: none;
        color: none;
        transition: none;
        opacity: none;
    }
}

/* Ipad mini */
@media screen and (min-width:820px) and (max-width:1023px) {
    
    .sobre-mim img {
        width: auto;
        height: 20rem;
    }
    
    .contato {
        padding-top: 1rem;
        max-height: auto;
    }
    
    
    .informacoes-de-contato {
        padding-bottom: 1.0rem;
    }
    
    .informacoes-de-contato  input {
        padding: 1rem 0.5rem;
    }
    
    .informacoes-de-contato > div:first-child {
        width: 45%;
        margin-right: 1.7rem;
    }
    
    .informacoes-de-contato > div:last-child {
        width: 45%;
    }

    button {
        box-sizing: border-box;
        width: 100%;
        margin: 1rem auto;
        padding: 01rem;
    }

    button > i {
        background-color: #1a1b1f;
        color: #fff;
    }

    button:hover, button:hover > i {
        background-color: none;
        color: none;
        transition: none;
        opacity: none;
    }
    
}

/* notebook e tela desktop menores */
@media screen and (min-width:1024px) and (max-width:1200px) {
    .sobre-mim img {
        width: auto;
        height: 20rem;
    }
    
    .informacoes-de-contato > div:first-child {
        width: 45%;
        margin-right: 2.5rem;
    }
    
    .informacoes-de-contato > div:last-child {
        width: 45%;
    }
}

/* telas wides */
@media screen and (min-width:1400px) {

}






