@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #00c853;
    /* filter:blur(10px); */
}

.container {
    /* border: 1px solid black; */
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #fff;
    padding: 3em;
    margin-top: 10em;
    margin-bottom: 10em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 1em;
    
}

h1 {
    text-align: center;
    padding-bottom: 2em;
    color:#009624;
    font-size: 2em;
}

form {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

input {
    
    padding: 0.2em;
    margin: 0em 0em 1em 0em;
    background-color: #fff;
}

label {
    font-size: 0.9em;
    color:#27251F;
}

input:focus {
    background-color: #e8f5e9;
}

.lembrar-de-mim {
    padding-top: 1em;
    font-size: 0.9em;
    color:#27251F;
}

.agreement {
    padding-top: 2em;
    padding-bottom: 4em;
    font-size: 0.9em;
    color: #27251F;
}

.agreement > a, .agreement > a:visited {
    text-decoration: none;
    color: #009624;
    font-weight: 600;
}

.agreement > a:hover, .agreement > a:active {
    color:#ff5252;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 5em;
    
    margin-bottom: 5em;

}

button {
    background-color: #009624;
    color: #fff;
    border: none;
    width: 35%;
    box-sizing: border-box;
    cursor: pointer;
    padding: .65em 0.45em;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    font-size: 1.1em;
}

button:hover {
    opacity: 0.7;
}

.btn-cancel {
    background-color: #d32f2f;
}


.socialmedia-signup {
    padding-top: 1em;
    margin-top: 5em;
    border-top: #27251F solid 0.05em;
    color: #27251F;
}

.socialmedia-signup i {
    font-size: 1.5em;
    font-weight: bolder;
}

.socialmedia-signup > p {
    font-size: 0.8em;
    font-weight: 300;
    padding-bottom: 1em;
    width: 100%;
}

.socialmedia-container {
    color: #fff;
    font-size: 0.75em;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;    
}

.socialmedia-container a, a:hover, a:visited {
    text-decoration: none;
    color: #fff;
    padding: 0;
}

.social-link {
    /* padding: 0.7em; */
    padding: 0.7em 2em;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.google {
    background-color:#ff5252;
}

.twitter {
    background-color: #1DA1F2;
}

.github {
    background-color: #333;
}

.socialmedia-container i {
    padding-right: 0.5em;
    border-right: 0.05em #fff solid;
    font-size: 1.5em;
}

.socialmedia-container span {
    padding-left: 0.5em;
}

.socialmedia-container a:hover {
    opacity: 0.8;
}


@media screen and (min-width: 320px) and (max-width: 480px) {
    .container {
        width: auto;
        height: 90%;
        margin: 1em;
        padding: 1em;
    }

    h1 {
        padding-bottom: 1em;
    }

    .lembrar-de-mim {
        font-size: 0.8em;
    }
    
    .agreement {
        padding-top: 1em;
        padding-bottom: 2em;
        font-size: 0.8em;
    }
    
    .agreement > a, .agreement > a:visited {
        text-decoration: none;
        color: #009624;
        font-weight: 600;
    }

    .btn-container {
        padding-bottom: 2em;
        margin-bottom: 0em;
    }
    
    button {
        padding: .2em 0.5em;
        /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
        font-size: 1em;
    }

    .socialmedia-signup {
        margin-top: 1em;
        text-align: center;
    }
    
    
    .socialmedia-container {
        flex-direction: column;
    }
    
    .social-link {
        /* padding: 0.7em; */
        padding: 0.7em 2em;
        flex-direction: row;
        
    }
}

@media screen and (min-width: 481px) and (max-width:768px) {
    .container {
        width: auto;
        height: 90%;
        margin: 1em;
        padding: 1em;
    }
    
    .socialmedia-signup {
        margin-top: 1em;
        text-align: center;
    }
    
    .btn-container {
        padding-bottom: 2em;
        margin-bottom: 0em;
    }
    
    .socialmedia-container {
        flex-direction: column;
    }
    
    .social-link {
        /* padding: 0.7em; */
        padding: 0.7em 2em;
        flex-direction: row;
        
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

}



