@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

header {
    width:100%;
    height: auto;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background-color: white;
}

.logo {
    display: block;
    padding: 2em;
}

.logo > img {
    width: 100%;
    height: 5em;
}


nav > ul {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

nav > ul > li > a,
nav > ul > li > a:visited {
    padding: 2em;
    color:#27251F;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    opacity: 0.8;
}

nav > ul > li > a:hover,
nav > ul > li > a:active {
    color: #da291c;
}







.pedido-telefone {
    display: block;
    height: auto;
    border: 1px solid black;
}

.pedido-telefone > a {
    float: left;
    padding-right: 2em;
}

.pedido-telefone > a:hover {
    color: #da291c;
}

.pedido-telefone > a > img {
    width: 1.5em;
    height: auto;
    display: inline;
}






#sanduiche {
    width:100%;
    height: 400px;
    background-color: yellowgreen;
}

#acompanhamentos {
    width: 100%;
    height: 400px;
    background-color: green;
}

#tabela-nutricional {
    width: 100%;
    height: 300px;
    background-color: blue;
}

footer {
    width: 100%;
    height: 100px;
    background-color: black;
}